<section class="horarios" id="horarios">
  <h2>Horários</h2>
  <hr />
  <div class="programacoes">
    <div class="programacao">
      <img src="../../../assets/images/bible-icon.png" alt="Bible icon" />
      <div>
        <h3>Quarta-feira</h3>
        <p class="horario">19h30 - Culto de Doutrina</p>
      </div>
    </div>
    <div class="programacao">
      <img src="../../../assets/images/class-icon.png" alt="Class icon" />
      <div>
        <h3>Domingo</h3>
        <p class="horario">9h40 - Escola Bíblica</p>
      </div>
    </div>
    <div class="programacao">
      <img src="../../../assets/images/bible-icon.png" alt="Bible icon" />
      <div>
        <h3>Domingo</h3>
        <p class="horario">18h - Culto Solene</p>
      </div>
    </div>
  </div>
</section>
