<section class="home">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner border">
      <div class="carousel-item active">
        <picture>
          <source
            media="(min-width: 800px)"
            srcset="../../../assets/images/banner.png"
          />
          <img
            class="d-block banner"
            src="../../../assets/images/62-anos.png"
            alt="Primeiro Slide"
          />
        </picture>
      </div>
    </div>
    <a
      class="carousel-control-prev control-carousel-icon"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a
      class="carousel-control-next control-carousel-icon"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
</section>
<app-horarios></app-horarios>
