<footer class="footer" id="footer">
  <img
    src="../../../assets/images/white-logo-ipmc.png"
    alt="Logo IPMC"
    width="200"
  />
  <div class="address">
    <span>
      <mat-icon
        aria-hidden="false"
        aria-label="Location icon"
        fontIcon="location_on"
        class="icon"
      ></mat-icon>
      <a
        href="https://www.google.com/maps/place/Igreja+Presbiteriana+de+Monte+Castelo/@-3.7314835,-38.5490546,15z/data=!4m6!3m5!1s0x7c7499f99640187:0x20ac86bf796b63be!8m2!3d-3.7314835!4d-38.5490546!16s%2Fg%2F1ptxd9qq6?entry=ttu"
        target="_blank"
        class="ipmc_adreess"
      >
        Rua Padre Frota, 766 – Monte Castelo | Fortaleza-CE
      </a>
    </span>
    <span>
      <mat-icon
        aria-hidden="false"
        aria-label="Telephone icon"
        fontIcon="call"
        class="icon"
      ></mat-icon>
      Tel.: (85) 4002-8922
    </span>
    <span>
      <mat-icon
        aria-hidden="false"
        aria-label="Bank icon"
        fontIcon="account_balance"
        class="icon"
      ></mat-icon>
      PIX: CNPJ - 00.000.000/0000-00
    </span>
  </div>
</footer>
