<footer class="footer">
  <img
    src="../../../assets/images/white-logo-ipmc.png"
    alt="Logo IPMC"
    width="200"
  />
  <div class="address">
    <span>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="location_on"
        class="icon"
      ></mat-icon>
      Rua Padre Frota, 766 – Monte Castelo | Fortaleza-CE
    </span>
    <span>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="call"
        class="icon"
      ></mat-icon>
      Tel.: (85) 4002-8922
    </span>
    <span>
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="account_balance"
        class="icon"
      ></mat-icon>
      PIX: CNPJ - 00.000.000/0000-00
    </span>
  </div>
</footer>
