<header class="header">
  <a href="/#home">
    <img
      ngSrc="./assets/images/logo-ipmc.png"
      routerLink="/"
      width="98"
      height="40"
      alt="Logo IPMC"
      priority
    />
  </a>
  <div class="nav">
    <a href="/#horarios">
      Horários
      <hr class="effect-line" />
    </a>
    <a routerLink="publicacoes">
      Publicações
      <hr class="effect-line" />
    </a>
    <a href="/#footer"
      >Endereço / Contatos
      <hr class="effect-line" />
    </a>
    <a
      >Sobre nós
      <hr class="effect-line" />
    </a>
  </div>
</header>
