@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

:root {
  --ipmc-green: rgb(5, 63, 0);
  --light-green: rgb(136, 197, 136);
  --dark-green: rgb(0, 28, 0);
}

* {
  font-family: "Roboto", sans-serif;

  margin: 0;
  padding: 0;
  color: #333;
}

body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

a {
  text-decoration: none;
  color: #333;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #fff; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--ipmc-green); /* color of the scroll thumb */
  border-radius: 10px; /* roundness of the scroll thumb */
  border: 3px solid #fff; /* creates padding around scroll thumb */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
